%p
  Я живу в селе Тросна Троснянского района.

#ymapsID

%table
  %tr
    %td
      %b Мой телефон:
      +79155023258
  %tr
    %td
      %b Моя почта:
      ya@lynx-r.name
  %tr
    %td
      %b Мой Jabber:
      ya@lynx-r.name
  %tr
    %td
      %b Мой сайт:
      = link_to 'http://lynx-r.name', 'http://lynx-r.name', :target => :_blank
  %tr
    %td
      %b Мой ник на freenode.net:
      lynx_r
  %tr
    %td
      %b Я в ВКонтакте:
      = link_to "http://vkontakte.ru", "http://vkontakte.ru/id99949353"
  %tr
    %td
      %b Я в Facebook:
      = link_to "http://www.facebook.com", "http://www.facebook.com/profile.php?id=100001571780522"
