%p
  Я живу в селе Тросна Троснянского района.

#ymapsID

%b Мой телефон:
+79155023258
%br
%b Моя почта:
lynx-r1@yandex.ru
%br
%b Мой Jabber:
lynx-r1@jabber.org
%br
%b Мой ник на freenode.net:
lynx_r
%br
%b Мой сайт:
= link_to 'lynxsite.ru', 'http://lynxsite.ru', :target => :_blank
