/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 50, ../../../app/stylesheets/screen.scss */
body {
  margin: 12px;
  background-color: #44cfff;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0%, #44cfff), color-stop(50%, #ffffff), color-stop(100%, #44cfff));
  background-image: -moz-linear-gradient(left, #44cfff 0%, #ffffff 50%, #44cfff 100%);
  background-image: linear-gradient(left, #44cfff 0%, #ffffff 50%, #44cfff 100%);
}
/* line 59, ../../../app/stylesheets/screen.scss */
body #main_container {
  width: 800px;
  min-height: 900px;
  background-color: #44cfff;
  margin: 0 auto;
  padding-bottom: 7px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  -o-border-radius: 32px;
  -ms-border-radius: 32px;
  -khtml-border-radius: 32px;
  border-radius: 32px;
  -moz-box-shadow: #333333 0px 1px 8px 0;
  -webkit-box-shadow: #333333 0px 1px 8px 0;
  -o-box-shadow: #333333 0px 1px 8px 0;
  box-shadow: #333333 0px 1px 8px 0;
}
/* line 70, ../../../app/stylesheets/screen.scss */
body #main_container #top_container {
  padding-top: 16px;
}
/* line 73, ../../../app/stylesheets/screen.scss */
body #main_container #top_container #nav_bar {
  background-color: #77a4dd;
  border: solid 1px #4e89d3;
  height: 32px;
  width: 768px;
  margin-left: 16px;
  -moz-box-shadow: #333333 0px 1px 8px 0;
  -webkit-box-shadow: #333333 0px 1px 8px 0;
  -o-box-shadow: #333333 0px 1px 8px 0;
  box-shadow: #333333 0px 1px 8px 0;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  -o-border-radius: 32px;
  -ms-border-radius: 32px;
  -khtml-border-radius: 32px;
  border-radius: 32px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #bbcfff), color-stop(50%, #77a4dd), color-stop(100%, #88c2ff));
  background-image: -moz-linear-gradient(top, #bbcfff 0%, #77a4dd 50%, #88c2ff 100%);
  background-image: linear-gradient(top, #bbcfff 0%, #77a4dd 50%, #88c2ff 100%);
}
/* line 91, ../../../app/stylesheets/screen.scss */
body #main_container #top_container #nav_bar ul {
  list-style: none;
  float: right;
  position: relative;
  left: -50%;
  height: 26px;
  line-height: 26px;
  margin-top: 2px;
}
/* line 105, ../../../app/stylesheets/screen.scss */
body #main_container #top_container #nav_bar ul li {
  position: relative;
  left: 50%;
  float: left;
  padding: 0px 8px 0px 8px;
}
/* line 112, ../../../app/stylesheets/screen.scss */
body #main_container #top_container #nav_bar ul li a {
  width: 112px;
  float: left;
  font-size: 19px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  color: #0033bb;
  border: solid 1px #007eaa;
  background-color: #00a4dd;
  text-shadow: 0 1px 2px #333333;
  -moz-box-shadow: #333333 0px 1px 8px 0;
  -webkit-box-shadow: #333333 0px 1px 8px 0;
  -o-box-shadow: #333333 0px 1px 8px 0;
  box-shadow: #333333 0px 1px 8px 0;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  -o-border-radius: 32px;
  -ms-border-radius: 32px;
  -khtml-border-radius: 32px;
  border-radius: 32px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #44cfff), color-stop(50%, #00a4dd), color-stop(100%, #11c2ff));
  background-image: -moz-linear-gradient(top, #44cfff 0%, #00a4dd 50%, #11c2ff 100%);
  background-image: linear-gradient(top, #44cfff 0%, #00a4dd 50%, #11c2ff 100%);
}
/* line 142, ../../../app/stylesheets/screen.scss */
body #main_container #top_container #nav_bar ul li a.selected {
  font-weight: bold;
  background-color: #0091c3;
  -moz-box-shadow: #333333 0 1px 4px 0;
  -webkit-box-shadow: #333333 0 1px 4px 0;
  -o-box-shadow: #333333 0 1px 4px 0;
  box-shadow: #333333 0 1px 4px 0;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #2ac8ff), color-stop(50%, #0091c3), color-stop(100%, #00b7f6));
  background-image: -moz-linear-gradient(bottom, #2ac8ff 0%, #0091c3 50%, #00b7f6 100%);
  background-image: linear-gradient(bottom, #2ac8ff 0%, #0091c3 50%, #00b7f6 100%);
}
/* line 158, ../../../app/stylesheets/screen.scss */
body #main_container hr {
  border: solid 3px #00a4dd;
  width: 50%;
  margin-top: 16px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  -o-border-radius: 32px;
  -ms-border-radius: 32px;
  -khtml-border-radius: 32px;
  border-radius: 32px;
  -moz-box-shadow: #333333 0 1px 6px 0;
  -webkit-box-shadow: #333333 0 1px 6px 0;
  -o-box-shadow: #333333 0 1px 6px 0;
  box-shadow: #333333 0 1px 6px 0;
}
/* line 166, ../../../app/stylesheets/screen.scss */
body #main_container #subnav_top {
  margin-top: 16px;
  background-color: #88c2ff;
  border: solid 1px #55a8ff;
  height: 24px;
  width: 768px;
  margin-left: 16px;
  -moz-box-shadow: #333333 0px 1px 8px 0;
  -webkit-box-shadow: #333333 0px 1px 8px 0;
  -o-box-shadow: #333333 0px 1px 8px 0;
  box-shadow: #333333 0px 1px 8px 0;
  -moz-border-radius-topleft: 32px;
  -webkit-border-top-left-radius: 32px;
  -o-border-top-left-radius: 32px;
  -ms-border-top-left-radius: 32px;
  -khtml-border-top-left-radius: 32px;
  border-top-left-radius: 32px;
  -moz-border-radius-topright: 32px;
  -webkit-border-top-right-radius: 32px;
  -o-border-top-right-radius: 32px;
  -ms-border-top-right-radius: 32px;
  -khtml-border-top-right-radius: 32px;
  border-top-right-radius: 32px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #88c2ff), color-stop(50%, #bbdcff), color-stop(100%, #88c2ff));
  background-image: -moz-linear-gradient(top, #88c2ff 0%, #bbdcff 50%, #88c2ff 100%);
  background-image: linear-gradient(top, #88c2ff 0%, #bbdcff 50%, #88c2ff 100%);
}
/* line 175, ../../../app/stylesheets/screen.scss */
body #main_container #subnav_top ul {
  list-style: none;
  float: right;
  position: relative;
  left: -50%;
  height: 20px;
  line-height: 20px;
  margin: 0;
}
/* line 189, ../../../app/stylesheets/screen.scss */
body #main_container #subnav_top ul li {
  position: relative;
  left: 50%;
  float: left;
  padding: 0px 7px 0px 7px;
}
/* line 196, ../../../app/stylesheets/screen.scss */
body #main_container #subnav_top ul li a {
  width: 112px;
  float: left;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  color: #0033bb;
  border: solid 1px #007eaa;
  background-color: #00a4dd;
  -moz-box-shadow: #333333 0px 1px 8px 0;
  -webkit-box-shadow: #333333 0px 1px 8px 0;
  -o-box-shadow: #333333 0px 1px 8px 0;
  box-shadow: #333333 0px 1px 8px 0;
  text-shadow: 0 1px 2px #333333;
  -moz-border-radius-topleft: 32px;
  -webkit-border-top-left-radius: 32px;
  -o-border-top-left-radius: 32px;
  -ms-border-top-left-radius: 32px;
  -khtml-border-top-left-radius: 32px;
  border-top-left-radius: 32px;
  -moz-border-radius-topright: 32px;
  -webkit-border-top-right-radius: 32px;
  -o-border-top-right-radius: 32px;
  -ms-border-top-right-radius: 32px;
  -khtml-border-top-right-radius: 32px;
  border-top-right-radius: 32px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #44cfff), color-stop(100%, #00a4dd));
  background-image: -moz-linear-gradient(top, #44cfff 0%, #00a4dd 100%);
  background-image: linear-gradient(top, #44cfff 0%, #00a4dd 100%);
}
/* line 225, ../../../app/stylesheets/screen.scss */
body #main_container #subnav_top ul li a.selected {
  font-weight: bold;
  background-color: #0091c3;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #2ac8ff), color-stop(100%, #0091c3));
  background-image: -moz-linear-gradient(bottom, #2ac8ff 0%, #0091c3 100%);
  background-image: linear-gradient(bottom, #2ac8ff 0%, #0091c3 100%);
}
/* line 238, ../../../app/stylesheets/screen.scss */
body #main_container #body_container {
  margin: 8px 16px 0 16px;
  min-height: 710px;
  padding: 16px;
  border: solid 1px #dcdcdc;
  background-color: #f5f5f5;
  -moz-box-shadow: #333333 0px 1px 8px 0;
  -webkit-box-shadow: #333333 0px 1px 8px 0;
  -o-box-shadow: #333333 0px 1px 8px 0;
  box-shadow: #333333 0px 1px 8px 0;
}
/* line 249, ../../../app/stylesheets/screen.scss */
body #main_container #subnav_bottom {
  margin-top: 8px;
  background-color: #88c2ff;
  border: solid 1px #55a8ff;
  height: 24px;
  width: 768px;
  margin-left: 16px;
  -moz-box-shadow: #333333 0px 1px 8px 0;
  -webkit-box-shadow: #333333 0px 1px 8px 0;
  -o-box-shadow: #333333 0px 1px 8px 0;
  box-shadow: #333333 0px 1px 8px 0;
  -moz-border-radius-bottomleft: 32px;
  -webkit-border-bottom-left-radius: 32px;
  -o-border-bottom-left-radius: 32px;
  -ms-border-bottom-left-radius: 32px;
  -khtml-border-bottom-left-radius: 32px;
  border-bottom-left-radius: 32px;
  -moz-border-radius-bottomright: 32px;
  -webkit-border-bottom-right-radius: 32px;
  -o-border-bottom-right-radius: 32px;
  -ms-border-bottom-right-radius: 32px;
  -khtml-border-bottom-right-radius: 32px;
  border-bottom-right-radius: 32px;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0%, #88c2ff), color-stop(50%, #bbdcff), color-stop(100%, #88c2ff));
  background-image: -moz-linear-gradient(left, #88c2ff 0%, #bbdcff 50%, #88c2ff 100%);
  background-image: linear-gradient(left, #88c2ff 0%, #bbdcff 50%, #88c2ff 100%);
}
/* line 257, ../../../app/stylesheets/screen.scss */
body #main_container #subnav_bottom ul {
  list-style: none;
  float: right;
  position: relative;
  left: -50%;
  margin: 0;
}
/* line 266, ../../../app/stylesheets/screen.scss */
body #main_container #subnav_bottom ul li {
  position: relative;
  left: 50%;
  float: left;
  padding: 0px 8px 0px 8px;
}
/* line 273, ../../../app/stylesheets/screen.scss */
body #main_container #subnav_bottom ul li a {
  float: left;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 2px #333333;
}
/* line 292, ../../../app/stylesheets/screen.scss */
body #main_container #footer {
  width: 40%;
  height: 38px;
  border: solid 1px #777777;
  background: #777777;
  text-align: center;
  line-height: 38px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  margin-top: 7px;
  font-size: 16px;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #aaaaaa), color-stop(50%, #777777), color-stop(100%, #999999));
  background-image: -moz-linear-gradient(top, #aaaaaa 0%, #777777 50%, #999999 100%);
  background-image: linear-gradient(top, #aaaaaa 0%, #777777 50%, #999999 100%);
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 12px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 12px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 12px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 12px 0;
}
