/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 14, ../../../app/stylesheets/screen.scss */
body {
  margin: 12px 0 12px 0;
  background-color: #e1ffe1;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e1ffe1), color-stop(100%, #eefaea));
  background-image: -moz-linear-gradient(top, #e1ffe1 0%, #eefaea 100%);
  background-image: linear-gradient(top, #e1ffe1 0%, #eefaea 100%);
}
/* line 23, ../../../app/stylesheets/screen.scss */
body #main_container {
  width: 800px;
  min-height: 900px;
  background-color: #cfffcf;
  margin: 0 auto;
  padding-bottom: 7px;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  -o-border-radius: 2em;
  -ms-border-radius: 2em;
  -khtml-border-radius: 2em;
  border-radius: 2em;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cfffcf), color-stop(100%, #c0ffc0));
  background-image: -moz-linear-gradient(top, #cfffcf 0%, #c0ffc0 100%);
  background-image: linear-gradient(top, #cfffcf 0%, #c0ffc0 100%);
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 12px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 12px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 12px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 12px 0;
}
/* line 44, ../../../app/stylesheets/screen.scss */
body #main_container #top_container {
  padding-top: 1em;
}
/* line 47, ../../../app/stylesheets/screen.scss */
body #main_container #top_container #nav_bar {
  float: right;
  position: relative;
  left: -50%;
  width: 768px;
}
/* line 53, ../../../app/stylesheets/screen.scss */
body #main_container #top_container #nav_bar ul {
  position: relative;
  left: 50%;
  list-style: none;
  height: 2em;
  line-height: 2em;
  padding: .3em 0em .5em 4em;
  margin: 0;
  background-color: #84eb84;
  border: solid 1px #4ce14c;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  -o-border-radius: 2em;
  -ms-border-radius: 2em;
  -khtml-border-radius: 2em;
  border-radius: 2em;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #c7ffc7), color-stop(100%, #5cd85c));
  background-image: -moz-linear-gradient(bottom, #c7ffc7 0%, #5cd85c 100%);
  background-image: linear-gradient(bottom, #c7ffc7 0%, #5cd85c 100%);
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 12px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 12px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 12px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 12px 0;
}
/* line 81, ../../../app/stylesheets/screen.scss */
body #main_container #top_container #nav_bar ul li {
  float: left;
  padding: 0px 4px 0px 4px;
}
/* line 85, ../../../app/stylesheets/screen.scss */
body #main_container #top_container #nav_bar ul li a {
  width: 6em;
  float: left;
  font-size: 1.2em;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  color: #2f3c4c;
  border: solid 1px #53b953;
  background-color: #aafaaa;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  -o-border-radius: 2em;
  -ms-border-radius: 2em;
  -khtml-border-radius: 2em;
  border-radius: 2em;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c7ffc7), color-stop(100%, #5cd85c));
  background-image: -moz-linear-gradient(top, #c7ffc7 0%, #5cd85c 100%);
  background-image: linear-gradient(top, #c7ffc7 0%, #5cd85c 100%);
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 12px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 12px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 12px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 12px 0;
                            /*&:hover {
                                $lightColor1: lighten($color1, 5%);
                                $lightColor2: lighten($color2, 5%);

                                text-decoration: none;
                                background-color: $lightColor1;
                                @include linear-gradient(color-stops($lightColor1, $lightColor2), $gradientDir);
                            }*/
}
/* line 124, ../../../app/stylesheets/screen.scss */
body #main_container #top_container #nav_bar ul li a.selected {
  font-weight: bold;
  background-color: #47d347;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #aeffae), color-stop(100%, #47d347));
  background-image: -moz-linear-gradient(bottom, #aeffae 0%, #47d347 100%);
  background-image: linear-gradient(bottom, #aeffae 0%, #47d347 100%);
}
/* line 138, ../../../app/stylesheets/screen.scss */
body #main_container hr {
  border: solid 3px #8d8;
  width: 50%;
  margin-top: 4em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  -o-border-radius: 2em;
  -ms-border-radius: 2em;
  -khtml-border-radius: 2em;
  border-radius: 2em;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 8px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 8px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 8px 0;
}
/* line 146, ../../../app/stylesheets/screen.scss */
body #main_container #tabs {
  margin: 1em 1em 0em 1em;
  height: 2em;
  border: solid 1px #8c8;
  background: #aff5af;
  -moz-border-radius-topleft: 2em;
  -webkit-border-top-left-radius: 2em;
  -o-border-top-left-radius: 2em;
  -ms-border-top-left-radius: 2em;
  -khtml-border-top-left-radius: 2em;
  border-top-left-radius: 2em;
  -moz-border-radius-topright: 2em;
  -webkit-border-top-right-radius: 2em;
  -o-border-top-right-radius: 2em;
  -ms-border-top-right-radius: 2em;
  -khtml-border-top-right-radius: 2em;
  border-top-right-radius: 2em;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 12px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 12px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 12px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 12px 0;
}
/* line 159, ../../../app/stylesheets/screen.scss */
body #main_container #body_container {
  margin: 0.5em 1em 0em 1em;
  min-height: 710px;
  padding: 1em;
  border: solid 1px #8c8;
  background-color: #f5f5f5;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 12px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 12px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 12px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 12px 0;
}
/* line 171, ../../../app/stylesheets/screen.scss */
body #main_container #adds {
  margin: 0.5em 1em 0em 1em;
  height: 2em;
  border: solid 1px #8c8;
  background: #aff5af;
  -moz-border-radius-bottomleft: 2em;
  -webkit-border-bottom-left-radius: 2em;
  -o-border-bottom-left-radius: 2em;
  -ms-border-bottom-left-radius: 2em;
  -khtml-border-bottom-left-radius: 2em;
  border-bottom-left-radius: 2em;
  -moz-border-radius-bottomright: 2em;
  -webkit-border-bottom-right-radius: 2em;
  -o-border-bottom-right-radius: 2em;
  -ms-border-bottom-right-radius: 2em;
  -khtml-border-bottom-right-radius: 2em;
  border-bottom-right-radius: 2em;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 12px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 12px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 12px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 12px 0;
}
/* line 184, ../../../app/stylesheets/screen.scss */
body #main_container #footer {
  width: 40%;
  height: 38px;
  border: solid 1px #777777;
  background: #aaaaaa;
  text-align: center;
  line-height: 38px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  margin-top: 7px;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #aaaaaa), color-stop(100%, #777777));
  background-image: -moz-linear-gradient(top, #aaaaaa 0%, #777777 100%);
  background-image: linear-gradient(top, #aaaaaa 0%, #777777 100%);
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 12px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 12px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 12px 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 12px 0;
}
