= image_tag @me.avatar.url, :id => 'lynx_r'

#about_me
  %p
    %b Обо мне
    скажут люди. Но не верьте им. Они все равно будут говорить ложь, потому что я в их сознании всегда буду отличаться от того, кем я являюсь в действительности.

  %p
    %b Моё имя,
    Алексей Попрядухин. Мой псевдоним для англоговорящих Jack Irox. Мои имена в сети:
    lynx_r[1]?, jack_r, teab0t и другие.

  %p
    %b Мои интересы.
    Главный мой интерес — разработка ПО. Не важно какого, главное чтобы я видел в нём необходимость. Хотя, из всего разнообразия направлений я отдал бы предпочтение программам, развивающим положительные качества человека.
  %p Второй по величине интерес — прошлое, настоящие и будущее России. Особенно та их часть, что скрывается и замалчивается.
  %p Ещё мне интересны: самообразование, единоборства и музыка.

  -#%p
    %b Моя работа.
    У меня нет постоянной работы. Зарабатываю время от времени фрилансером.
