%h3 Statistic

#statistics
  %table
    - Counter.stat.each do |k, v|
      %tr
        %td
          The page
          %span.page= k
          was visited
        %td
          = pluralize(v, "time")
