/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/gradient";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

$default-box-shadow-color: #333333;
$default-box-shadow-h-offset: 0px;
$default-box-shadow-v-offset: 1px;
$default-box-shadow-blur: 8px;

$default-border-radius: 32px;

$main_min_height: 900px;
$main_width: 800px;

$base_color: #99cfff;
$addon_link_color: #007;
$addon_color: #111;
//$base_color: #aaaaff;
//$addon_link_color: #000;
//$addon_color: #444;
$body_container_color: #f5f5f5;

$margin_left_body: 16px;

@mixin text_shadow {
    text-shadow: 0 1px 2px $default-box-shadow-color;
}

@mixin subnav_init {
    $height: 24px;
    $background_color: darken($base_color, 10%) + $addon_color;
    $border_color: darken($background_color, 10%);

    background-color: $background_color;
    border: solid 1px $border_color;

    height: $height;
    width: $main_width - $margin_left_body * 2;
    margin-left: $margin_left_body;

    @include box-shadow;
}

body {
    $color1: $base_color;
    $color2: lighten($base_color, 50%);
    $color3: $base_color;

    margin: 12px;
    background-color: $color1;
    @include linear-gradient(color-stops($color1, $color2 50%, $color3), left);

    #main_container {
        width: $main_width;
        min-height: $main_min_height;
        background-color: $base_color;

        margin: 0 auto;
        padding-bottom: 7px;

        @include border-radius;
        @include box-shadow;

        #top_container {
            padding-top: 16px;

            #nav_bar {
                $height: 32px;
                $color1: $base_color + $addon_color;
                $color2: darken($base_color, 20%) + $addon_color;
                $color3: darken($base_color, 10%) + $addon_color;
                $border_color: darken($color2, 10%);

                background-color: $color2;
                border: solid 1px $border_color;

                height: $height;
                width: $main_width - $margin_left_body * 2;
                margin-left: $margin_left_body;

                @include box-shadow;
                @include border-radius;
                @include linear-gradient(color-stops($color1, $color2, $color3));

                ul {
                    $height: 26px;

                    list-style: none;

                    float: right;
                    position: relative;
                    left: -50%;

                    height: $height;

                    margin-top: 2px;

                    li {
                        position: relative;
                        left: 50%;
                        float: left;

                        padding: 0px 8px 0px 8px;

                        a {
                            $width: 112px;
                            $color: darken($base_color, 50%) + $addon_link_color;
                            $color1: $base_color;
                            $color2: darken($base_color, 20%);
                            $color3: darken($base_color, 10%);
                            $border_color: darken($color2, 10%);

                            width: $width;
                            height: $height;
                            line-height: $height;
                            float: left;

                            font: {
                                size: 19px;
                                weight: normal;
                            }

                            text: {
                                align: center;
                                decoration: none;
                            }

                            color: $color;
                            border: solid 1px $border_color;
                            background-color: $color2;

                            @include text_shadow;
                            @include box-shadow;
                            @include border-radius;
                            @include linear-gradient(color-stops($color1, $color2, $color3));

                            &.selected {
                                $dark_color1: darken($color1, 5%);
                                $dark_color2: darken($color2, 5%);
                                $dark_color3: darken($color3, 5%);

                                font-weight: bold;
                                background-color: $dark_color2;
                                @include box-shadow($default-box-shadow-color, 0, 1px, 4px);
                                @include linear-gradient(color-stops($dark_color1, $dark_color2, $dark_color3), bottom);
                            }
                        }
                    }
                }
            }
        }

        hr {
            border: solid 3px darken($base_color, 20%);
            width: 50%;
            margin-top: 16px;
            @include border-radius;
            @include box-shadow($default-box-shadow-color, 0, 1px, 6px);
        }

        #subnav_top {
            $background_color: darken($base_color, 10%) + $addon_color;

            margin-top: 16px;

            @include subnav_init;
            @include border-top-radius;
            @include linear-gradient(color-stops($background_color, lighten($background_color, 10%), $background_color));

            ul {
                $height: 20px;

                list-style: none;

                float: right;
                position: relative;
                left: -50%;

                height: $height;
                line-height: $height;

                margin: 0;

                li {
                    position: relative;
                    left: 50%;
                    float: left;

                    padding: 0px 7px 0px 7px;

                    a {
                        $width: 112px;
                        $color: darken($base_color, 50%) + $addon_link_color;
                        $color1: $base_color;
                        $color2: darken($base_color, 20%);
                        $border_color: darken($color2, 10%);

                        width: $width;
                        float: left;

                        font: {
                            size: 18px;
                            weight: normal;
                        }

                        text: {
                            align: center;
                            decoration: none;
                        }

                        color: $color;
                        border: solid 1px $border_color;
                        background-color: $color2;

                        @include box-shadow;
                        @include text_shadow;
                        @include border-top-radius;
                        @include linear-gradient(color-stops($color1, $color2));

                        &.selected {
                            $dark_color1: darken($color1, 5%);
                            $dark_color2: darken($color2, 5%);

                            font-weight: bold;
                            background-color: $dark_color2;
                            @include linear-gradient(color-stops($dark_color1, $dark_color2), bottom);
                        }
                    }
                }
            }
        }

        #body_container {
            margin: 8px 16px 0 16px;

            min-height: $main_min_height - 190px;
            padding: 16px;
            border: solid 1px darken($body_container_color, 10%);

            background-color: $body_container_color;
            @include box-shadow;
        }

        #subnav_bottom {
            $background_color: darken($base_color, 10%) + $addon_color;
            margin-top: 8px;

            @include subnav_init;
            @include border-bottom-radius;
            @include linear-gradient(color-stops($background_color, lighten($background_color, 10%), $background_color), left);

            ul {
                list-style: none;

                float: right;
                position: relative;
                left: -50%;

                margin: 0;

                li {
                    position: relative;
                    left: 50%;
                    float: left;

                    padding: 0px 8px 0px 8px;

                    a {
                        $color: darken($base_color, 50%) + $addon_link_color;
                        float: left;

                        color: $color;
                        font: {
                            size: 20px;
                            //weight: bold;
                        }

                        text: {
                            align: center;
                            decoration: none;
                        }

                        @include text_shadow;

                        &.selected {
                            color: darken($color, 10%);
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        #footer {
            $height: 38px;
            $width: 40%;
            $color1: #aaa;
            $color2: #777;
            $color3: #999;
            $borderColor: #777777;

            width: $width;
            height: $height;
            border: solid 1px $borderColor;
            background: $color2;

            text-align: center;
            line-height: $height;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

            margin: 0 auto;
            margin-top: 7px;

            font-size: 16px;
            cursor: default;

            @include border-radius(1em);
            @include linear-gradient(color-stops($color1, $color2, $color3), top);
            @include box-shadow(rgba(0, 0, 0, 0.5), 0, 1px, 12px);
        }
    }
}

$transparent_white: rgba(255, 255, 255, 0.1);

.nav_bar_glass_effect {
    float: left;
    width: $main_width - $margin_left_body * 2 - 8px; // see width and height of
    height: 14px; // body #main_container #top_container #nav_bar

    margin-left: 4px;
    margin-bottom: -14px;

    background-color: red;
    background-color: $transparent_white;

    @include border-radius;
}

.nav_button_glass_effect {
    float: left;
    width: 108px; // see width and height of
    height: 12px; // body #main_container #top_container #nav_bar ul li a

    margin-left: 2px;
    margin-bottom: -16px;

    background-color: $transparent_white;

    @include border-radius;
}

.subnav_button_glass_effect {
    float: left;
    width: 102px; // see width and height of
    height: 10px; // body #main_container #subnav_top ul li a

    margin-bottom: -14px;
    margin-left: 5px;

    background-color: $transparent_white;

    @include border-top-radius(40px);
}

.footer_glass_effect {
    //float: left;
    width: 98%; // see width and height of
    height: 16px; // body #main_container #subnav_top ul li a

    margin-bottom: -18px;
    margin-left: 4px;

    background-color: red;
    background-color: $transparent_white;

    @include border-radius(40px);
}
