:plain
  <div id="dateContainer128593298777930">
    <div id="topClockGraphicsLink">
      <a href="http://www.top-clock.ru" target="_blank">часы для сайта</a>
    </div>
  </div>
  <script src="http://top-clock.ru/widget//w2/widget-graphic/prepare.php?containerid=dateContainer128593298777930&type=1&id0=1513&langid0=1" type="text/javascript">
  </script>
