%h3 Popryadukhin Aleksey

%h4 Software Developer

%h4 Contacts
.resume_col1
  Mobile phone:
  %span.resume_col2 +79155023258
.resume_col1
  E-mail:
  %span.resume_col2= mail_to 'ya@lynx-r.name'
.resume_col1
  Jabber:
  %span.resume_col2= mail_to 'ya@lynx-r.name'

%h4 Personal information
.resume_col1
  Education level:
  %span.resume_col2 Higher.
.resume_col1
  Birthday:
  %span.resume_col2 16 december 1986 г.

%h4 Experience
.resume_col1
  The work period:
  %span.resume_col2 From november 2008 till may 2010 г.
.resume_col1
  Post:
  %span.resume_col2 Software Developer (partial employment).
.resume_col1
  Duties:
  %span.resume_col2 Developing plug-ins for Quantum GIS.

%h4 Education
.resume_col1
  Educational institution:
  %span.resume_col2 The Oryol State Technical University, s. Oryol.
.resume_col1
  Expire date:
  %span.resume_col2 October 2009 year.
.resume_col1
  Mode of study:
  %span.resume_col2 Day/internal.

%h4 Foreign languages and computer skills
.resume_col1
  English language:
  %span.resume_col2 Technical.
.resume_col1
  Computer skills and knowledge:
  %span.resume_col2
    C/C++, Python, Ruby, Bash,
    Qt, SQL, Ruby on Rails, jQuery, CSS, Sass, HTML, Haml,
    GNU/Linux at level of the system administrator,
    experience with CVS (Subversion, Git).

%h4 The additional information
.resume_col2 Bad habits aren't present.
