- user_logged do
  = link_to 'New post', new_project_path, :id => "new_post"

#posts_search
  = render :partial => "form_search"

#projects_box_index
  = render :partial => "project", :collection => @projects
